{% extends "advertisement/index.html" %}
{% load static %}
{% load advertisement_tag %}
{% block title %}
{{title}}
{% endblock %}
{% block wallpaper %}background-image: url({% static 'advertisement/images/support.jpg' %}){% endblock %}

{% block content %}
<div class="site-section bg-light" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5">
                {% get_send_form %}
            </div>
        </div>
    </div>
</div>
{% endblock %}